body {
  background-color: grey;
}

h1 {
  text-align: center;
  color: black;
}

h4 {
  margin-left: 10%;
}

#editor {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 4px;
  box-shadow: 0px 0px 5px black;
  font-family: 'Courier';
  padding-bottom: 10%;
}

.markdown-preview {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0px 0px 5px black;
  background-color: lightgrey;
  border-radius: 4px;
  font-family: 'Courier';
}

#preview {
  padding-top: 5%;
  overflow: hidden;
}

footer {
  text-align: center;
  margin-top: 10px;
}